   :root {
---animation_ignore: "ANIMATION_IGNORE";
---animation_update: "ANIMATION_UPDATE";
       } 
* {
 margin: 0 !important;
 padding: 0 !important;
 scrollbar-width: none;
 flex-shrink: 0 !important;
 
}
title {

}

body {
    position: relative;
    width: 100dvw;
    overflow: hidden;
 background-color: white;   
 
}
.right {
    position: absolute;
    right: 0;
height: 100%;
width: fit-content;
}
.right img {
    min-height: 100%;
    max-width: 50dvw;
}
.card {
    position: absolute;
    top: 50%;
    transform: translate(0 , -50%);
    height: 90%;
    width: calc((var(---page--width) - var(---right--width)) / 1.1);
    /* width: var(---pageS--width , calc(var(---page--width) / 2)); */
    right: calc(var(---right--width) + (((var(---page--width) - var(---right--width)) - ((var(---page--width) - var(---right--width)) / 1.1))) / 2);
    background-color: rgb(255, 255, 255);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.username-icon {
    --widthh: calc((var(---card--height) + var(---card--width)) / 20);
    background-color: #00426d;
    border-radius: 50%;
    height:var(--widthh);
    width: var(--widthh);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--widthh) / 2);
    color: white;
    
}
.card-icon-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(var(---username-icon___i--font-size) / 1.5);
    color: rgb(34, 34, 34);
}
.new-username {
    display: flex;
    align-items: center;
    height: calc((var(---card--height) - (var(---username-icon--height) + var(---card-icon-text--height))) / 10);
    background-color: #00426d;
    width: 70%;
    padding:  calc((var(---card--height) + var(---card--width)) / 200) !important;
    border-radius: calc((var(---card--height) + var(---card--width)) / 200);
    justify-content: space-between;
    margin-top: calc(var(---new-username--height) / 3) !important;
        
}
.new-username i {
    height: 100%;
    width: var(---new-username--height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: var(---new-username--border-radius);
    font-size: calc(var(---card-icon-text--font-size) / 1.3);
    color: #3f3f3f;
    
}

